p {
    color: red;
}
/* comment */
.name {
    color: blue;
}
.Xiaoshuang-favourite {
    color: rgb(244, 72, 138);background-color: aqua;
}
.Welcome{
    border:4px solid rgb(46, 13, 210);
    margin:30px;
    padding:16px;
    background-color: aquamarine;
    /*position: static;
    top:100px;
    left:50px; */
    
    /*position: absolute;
    top: 100px;*/



    position: sticky;
    top:50px;
}
.bit-q3{
    margin-left:200px;
}